@import url(https://cdn.jsdelivr.net/npm/animate.css@4.1.1/animate.min.css);
@import './assets/css/init.taobao.css';
@import './assets/css/init.custom.css';
@import './assets/css/scrollbar.css';
@import './assets/css/jk.org.css';

/* Basic style */
/* ////////////////////////////////////////// */

body {
    animation: fadeIn;
    animation-duration: 2s;
}
/* Background options */

body,
#content::before,
#postamble::before {
    background: url('../images/bg/bg.jpg') center center / cover no-repeat fixed;
    /* background-color: #f5f5d5; */
}

#postamble::before,
#content::before {
    /* background: url('../images/bg/bgrose.jpg') center center / cover no-repeat fixed; */
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: blur(20px);
    z-index: -1;
}

#content,
#postamble {
    position: relative;
    background-color: rgba(250, 250, 250, 0.3);

    width: 60%;
    margin: 0 auto;
    padding: 0 0.16rem;
    line-height: 1.6;
    font-size: 0.16rem;
    font-family: Consolas, Monaco, 'kaiti';
}

/* Footer sytle */
/* ////////////////////////////////////////// */
#content {
    padding-bottom: 0.32rem;
}
#postamble {
    color: #666;
}

#content::after {
    content: '';
    display: block;
    padding-bottom: 0.32rem;
    border-bottom: 2px solid #369;
    border-image: linear-gradient(to right, #f66, #147) 30 30;
    color: #666;
}

.date,
.author {
    margin: 0;
    font-size: 0.14rem;
}

.validation {
    margin-top: 0.22rem;
    text-align: center;
    color: #369;
    margin-bottom: 0;
    padding-bottom: 0.16rem;
}

.validation a {
    color: #19f;
}

/* Header style */
/* ////////////////////////////////////////// */
.title {
    width: 100%;
    margin: 0 0 0.32rem 0;
    padding: 0.32rem 0 0.08rem 0;
    border-bottom: 2px solid #369;
    border-image: linear-gradient(to right, #147, #f66) 30 30;
    font-size: 0.32rem;

    background: linear-gradient(to right bottom, #369, #333);
    background: linear-gradient(to bottom, #77a2d3, rgb(37, 74, 110));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    animation: flipInX;
    animation-duration: 2s;
}

h2,
h3,
h4,
h5,
h6 {
    margin: 0.16rem 0;
    font-size: 0.18rem;

    background: linear-gradient(to bottom, #77a2d3, rgb(37, 74, 110));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

h3 {
    background: linear-gradient(to bottom, #ff9999, #996699);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

h4 {
    background: linear-gradient(to bottom, #7fbebe, #152b2b);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

h5 {
    background: linear-gradient(to bottom, #919148, #339933);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

h2 {
    font-size: 0.2rem;
}
h2:before {
    content: '🐬 ';
}
h3:before {
    content: '⚡ ';
}
h4:before {
    content: '🚩 ';
}
h5:before {
    content: '🍁 ';
}

h2 code:last-child,
h3 code:last-child,
h4 code:last-child,
h5 code:last-child,
h6 code:last-child {
    padding: 2px 6px;
    border-radius: 3px;
    background: #363;
    color: #eee;
    font-size: 0.12rem;
}

/* Image zoom style */
/* ////////////////////////////////////////// */
img {
    cursor: pointer;
}

.img-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: auto;

    animation: pulse;
    animation-duration: 600ms;
}

.img-zoom {
    width: 98%;
    margin-top: 1%;
    background-color: #fff;
}

/* Source code style */
/* ////////////////////////////////////////// */
code {
    color: #135; /*  #D63384*/
    font-size: 0.14rem;
    font-family: Monaco, Consolas, 'monospace', 'kaiti';
}

pre {
    position: relative;
    margin: 0.16rem 0;
    padding: 0.14rem;
    padding-left: 0.08rem;
    background: rgba(255, 255, 255, 0.6);
    color: #135;
    font-size: 0.14rem;
    font-family: Monaco, Consolas, 'monospace', 'kaiti';
    overflow: hidden;
    /* monokai background */
    /* border: 2px solid rgba(234, 234, 234, 0.8); */
    /* color: #ccc; */
    /* background: #272822; */

    /* background: #f7fbfc; */

    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACFJREFUeNpiZGBg4GegAsBlCD8TqSYNQg2Mo6FEBAAIMACdPABtrSW/IQAAAABJRU5ErkJggg==');
    background-repeat: repeat;
    background-attachment: fixed;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
}

pre:hover {
    overflow: auto;
}

span.linenr {
    display: inline-block;
    margin-right: 0.16rem;
    width: 0.4rem;
    text-align: right;
    border-right: 2px solid #eee;
}

.js-pre-dblclick {
    border: 2px dashed #19f;
}
.js-pre-dblclick .linenr {
    display: none;
}

.js-code-src {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 0.05rem;
    color: #999;
}

pre:hover .js-code-src {
    display: none;
}

/* Table style */
/* ////////////////////////////////////////// */
.t-above {
    margin: 0.06rem 0;
    color: #666;
    font-size: 0.14rem;
}

table {
    margin: 0.24rem 0;
}
thead tr {
    border-top: 2px solid #369;
}
tbody {
    border-top: 2px solid #369;
}
tbody tr {
    border-bottom: 1px solid #369;
}
tbody tr:last-child {
    border-bottom: 2px solid #369;
}
th,
td {
    padding: 3px 6px;
    border-right: 1px solid #369;
}

.org-center {
    text-align: center;
}
.org-right {
    text-align: right;
}

th:first-child,
td:first-child {
    border-left: rgba(255, 255, 255, 0);
}
th:last-child,
td:last-child {
    border-right: rgba(255, 255, 255, 0);
}

/* TOC style */
/* ////////////////////////////////////////// */
#table-of-contents {
    position: fixed;
    left: -16%;
    top: 0;
    padding: 0 1%;
    min-width: 16%;
    min-height: 100%;
    height: 100%;
    box-shadow: 1px 0 3px #ccc;

    color: #369;
    font-size: 0.16rem;
    opacity: 0;

    transition: 0.3s all ease-in-out;
    overflow: hidden;
    z-index: 1;
}

#table-of-contents:hover {
    left: 0;
    background: rgba(255, 255, 255, 0.86);
    opacity: 1;
    overflow: auto;
}

#table-of-contents a {
    text-decoration: none;
}
#table-of-contents h2:before {
    content: '';
}

.js-link-active {
    padding: 1px 2px;
    background: #19f;
    color: #fff;
}

/* Contact Me style */
/* ////////////////////////////////////////// */
.me {
    margin-top: 0.48rem;
}
.me span {
    color: #333;
}
.contact {
    padding: 0.16rem 0;
}
.contact i {
    color: #369;
    font-size: 0.2rem;
    padding-right: 0.08rem;
}

/* Customization button style */
/* ////////////////////////////////////////// */
.top-btn,
.nav-btn {
    position: fixed;
    right: 2%;
    display: inline-block;
    width: 0.64rem;
    height: 0.32rem;
    text-align: center;
    border-radius: 5px;
    background: #eee;
    color: #222;
    font-size: 0.12rem;
    line-height: 0.32rem;
    transition: 0.3s all ease-in-out;
    opacity: 0.3;
    cursor: pointer;

    background-image: linear-gradient(
        0deg,
        #eee 50%,
        rgba(255, 255, 255, 0.5) 50%
    );
    background-size: 100% 3px;
}

.top-btn {
    bottom: 2%;
}
.nav-btn {
    bottom: 8%;
}

.top-btn:hover,
.nav-btn:hover,
.nav-show-hide {
    /*background: #eee;*/
    opacity: 0.8;
}

/* GTD style */
/* ////////////////////////////////////////// */
.todo {
    padding: 2px 6px;
    border-radius: 3px;
    background: #911;
    color: #eee;
    font-size: 0.12rem;
}

.done {
    padding: 2px 6px;
    border-radius: 3px;
    background: #147;
    color: #eee;
    font-size: 0.12rem;
}

.tag span {
    display: inline-block;
    padding: 2px 6px;
    border-radius: 3px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #c60;
    color: #eee;
    font-size: 0.12rem;
}

.priority {
    padding: 2px 6px;
    border-radius: 3px;
    background: #991;
    color: #eee;
    font-size: 0.12rem;
}

/* .timestamp-wrapper */
/* In CSS&CSS3, there has no a selector to get parentNode. Now via js. */
.gtd-timestamp {
    color: #999;
    font-size: 0.14rem;
}

.org-ul .on code {
    color: #009;
    font-weight: 900;
}

.org-ul .off code {
    color: #900;
    font-weight: 900;
}

/* Footnotes */
/* ////////////////////////////////////////// */
.footpara {
    display: inline;
    color: #333;
    font-size: 0.14rem;
}

/* Card theme style */
/* ////////////////////////////////////////// */
/* Card all paragraphs */
/* .js-outline-2, */
.js-outline-3 {
    position: relative;
    margin: 0.2rem 0;
    padding: 0.25rem 0.32rem 0.05rem 0.1rem;
    border-radius: 0.06rem;
    box-shadow: 1px 1px 5px #ccc;
    transition: all 0.3s ease-in-out;
}

.js-outline-3:nth-child(even) {
    /*background-color: rgba(200, 200, 200, 0.1);*/
    background-image: linear-gradient(
        0deg,
        rgba(240, 245, 249, 0.5) 50%,
        rgba(255, 255, 255, 0.5) 50%
    );
    background-size: 100% 3px;
}
.js-outline-3:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.5);
}
.js-outline-3:nth-child(odd) pre {
    /*border: 2px solid rgba(234, 234, 234, 0.2);*/
}
.js-outline-3:nth-child(odd) .js-code-src {
    z-index: 0;
}

.js-outline-3 h3 {
    position: absolute;
    top: -0.08rem;
    right: 0.1rem;
    color: #abc !important;
    font-size: 0.12rem;
}

.js-outline-3 h3:before {
    content: '';
}

.js-outline-3:hover {
    box-shadow: 5px 5px 9px #ccc;
}

/* Navigations page style */
/* ////////////////////////////////////////// */

.js-nav-body table {
    width: 100%;
}

.js-nav-body thead,
.js-nav-body tbody:nth-child(even) {
    /* background-color: #f7fbfc; */
    background-color: #f7fbfc91;
}

.js-nav-body thead {
    color: #ccc;
    font-family: 'Segoe Script', 'Courier New';
}

.js-nav-body tbody tr td a {
    display: block;
    text-align: center;
}

.js-nav-body tbody tr td:hover {
    box-shadow: 1px 1px 6px #369;
}

.js-nav-link-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.js-nav-link-container a {
    display: inline-block;
    margin: 0.03rem 0;
    padding: 0.01rem 0.02rem;
    width: 18%;
    border: 1px solid #19f;
    border-radius: 3px;
    white-space: nowrap;
}

.js-nav-link-container a:hover {
    background-color: #19f;
    color: #fff;
}

/* Bookmarks style */
.js-nav-bookmarks progress {
    align-self: center;
}

.js-nav-bookmarks-container {
    padding: 0.16rem 0.09rem;
    list-style-type: none;
    white-space: nowrap;
    overflow: hidden;
    /* 241,252,255 */
    background-image: linear-gradient(
        0deg,
        rgba(246, 246, 246, 0.5) 50%,
        rgba(255, 255, 255, 0.5) 50%
    );
    background-size: 100% 3px;
}

.js-nav-bookmarks-container:hover {
    overflow: auto;
}
.js-nav-bookmarks-container li a {
    display: inline-block;
    width: 96%;
}
.js-nav-bookmarks-container li::before {
    content: '➣ ';
}

/* Home page style */
/* ////////////////////////////////////////// */
.js-home-content {
    background: url('../images/bg/bggirl.gif') no-repeat right;
}

.js-home-content table {
    background-color: rgba(255, 255, 255, 0.16);
}
.js-home-content thead {
    border-bottom: 2px solid #e69;
}
.js-home-content thead th {
    min-width: 1.6rem;
}
.js-home-content tbody {
    display: none;
}
.js-home-content tbody tr td a {
    display: inline-block;
    width: 100%;
}

/* Mobile UI */
/* ////////////////////////////////////////// */
@media screen and (max-width: 1026px) {
    /*body, #content::before, #postamble::before { background: url('../images/bg/rose.jpg') center center / cover no-repeat fixed; }*/

    #content,
    #postamble {
        width: 91%;
    }
    #postamble::before,
    #content::before {
        width: 100%;
        display: block;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        filter: blur(20px);
        /* margin: -30px; */
        z-index: -1;
    }

    .title {
        font-size: 0.28rem;
        white-space: nowrap;
        overflow: auto;
    }

    #table-of-contents {
        top: -380px;
        left: 0;
        height: 400px;
        min-height: 400px;
        width: 100%;
        box-shadow: 0 1px 3px #999;
        background: rgba(255, 255, 255, 0.86);
        color: #369;
        opacity: 0;
    }

    #table-of-contents:hover {
        top: 0px;
        opacity: 1;
    }

    .js-link-active {
        color: #fff;
        background: #19f;
        padding: 1px 2px;
    }

    pre {
        overflow: auto;
    }

    .top-btn {
        right: 0;
        bottom: 1%;
        opacity: 0;
    }
    .nav-btn {
        right: 0;
        bottom: 7%;
        opacity: 0;
    }
    .top-btn:hover,
    .nav-btn:hover {
        opacity: 0.1;
    }

    /* .js-outline-2, */
    .js-outline-3 {
        padding: 0.25rem 0.1rem 0.05rem 0.1rem;
        box-shadow: 0px 0px 0px #ccc;
        /*border-bottom: 2px solid #eee;*/
        border-radius: 0;
    }

    .js-outline-3:nth-child(even) {
        background-color: rgba(200, 200, 200, 0.1);
    }

    .js-outline-3:hover {
        box-shadow: 0px 0px 0px #ccc;
    }

    .org-ul {
        overflow: auto;
    }
    code,
    a {
        word-break: break-all;
    }
    .js-home-content {
        background-size: 2.3rem;
    }
    .js-nav-link-container a {
        width: 47%;
    }

    .js-footer-slogan {
        position: absolute;
        margin-bottom: 0.32rem;
        width: 100%;
        text-align: center;
        font-size: 0.14rem;
    }

    .jk-note,
    .jk-note::before {
        position: initial;
        float: right;
    }

    .jk-essay::before {
        font-size: 0.24rem;
        right: 0;
        top: -20px;
    }
}
